<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">Felipe Bernardo</h5>
            <h6 class="card-subtitle mb-2 text-muted">Analista e desenvolvedor Outsystems</h6>
            <p class="card-text">Aplicação desenvolvida em Angular e Bootstrap e utilizando dos seguintes conceitos:</p>
            <ul>
                <li>Arquitetura de Componentes</li>
                <li>Componentes</li>
                <li>Interfaces</li>
                <li>Serviços</li>
                <li>Injeção de Dependências</li>
                <li>Módulos</li>
                <li>Rotas</li>
                <li>Data Binding</li>
                <li>Pipes</li>
                <li>API externa</li>
            </ul>    
            
            <a href="https://www.linkedin.com/in/felipe-bernardo-19147b59/" target="_blank" class="card-link">Linkedin</a>      
        </div>
    </div>
</div>