<div class="card">
    <div class="card-header">Filtros</div>
    
    <div class="card-body">
        <form>
            <div class="form-floating">
                <input type="text" class="form-control" id="de" placeholder="Preço de:">
                <label for="de">Preço de:</label>
            </div>

            <div class="form-floating mt-2">
                <input type="text" class="form-control" id="ate" placeholder="Preço até:">
                <label for="ate">Preço até:</label>
            </div>
        
            <button class="btn btn-primary btn-block btn-sm mt-2">Pesquisar</button>          
        </form>        
    </div>
</div>

<p class="mt-2" style="font-weight: bold; font-size:12px;">*Pare sobre a imagem para ver a descrição.</p>